@model Employee_leave_management.Models.LeaveTypeVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LeaveTypeVM</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <!--we want to keep track of the DateCreated - without this line after each edit, the date will be reset to 01/01/0000-->
            <input type="hidden" asp-for="DateCreated" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary btn-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
